<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pgm-distribution"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-row class="page-header-style">
    <ion-col size="6" style="align-self: center;">
      <ion-row class="row-style">
        Staff Name
      </ion-row>
    </ion-col>
    <ion-col size="4" style="align-self: center;">
      <ion-row class="row-style">
        Staff Number
      </ion-row>
    </ion-col>
    <ion-col size="2" style="align-self: center;">
      <ion-row class="row-style">
        Band
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-list
    style="background: transparent; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">
    <ion-row *ngFor="let data of listData" style="margin-bottom: 5px;">
      <ion-col size="6" style="font-size: 12px;font-weight: bold;">
        {{ data.staff_Name }}
      </ion-col>
      <ion-col size="4" style="font-size: 12px;">
        <ion-row style="justify-content: center">
          {{ data.staff_Number }}
        </ion-row>
      </ion-col>
      <ion-col size="2" style="font-size: 12px;">
        <ion-row style="justify-content: center">
          {{ data.band }}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>