<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Employee Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="employee-details-backgrond">
  <ion-grid>
    <ion-row style="width: 100%; justify-content: center;">
      <img class="profile-pic-style" [src]="profilePicPath" onerror="this.src='../../../../assets/icon/favicon.png'" />
    </ion-row>
    <ion-row class="employee-name-style">
      {{ empName | uppercase }}
    </ion-row>
    <ion-row style="margin-top: 40px">
      <ion-col size="6" class="row-key-style">
        Staff ID
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ staffID }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Staff Name
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ empName | uppercase }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Reporting Manager
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ reportingManager }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Program Manager
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ programManager }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Total Experience
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ totalExperience }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Band
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ empBand }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Technical Rating
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ technicalRating }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Technical Expertise
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ technialExpertise }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Solution Rating
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ solutionRating }}
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-col size="6" class="row-key-style">
        Solution Expetise
      </ion-col>
      <ion-col size="6" class="row-value-style">
        {{ solutionExpertise }}
      </ion-col>
    </ion-row>
    <ion-button class="more-info-btn-style" expand="block" (click)="moreInformation()">More Information</ion-button>
  </ion-grid>
</ion-content>