<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Associate Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-row>
    <ion-col size="6" class="row-key-style">
      Staff Id
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.staff_Number }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      Staff Name
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.staff_Name }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      Reporting Manager
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.manager_Id }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      PM
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.pm }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      PGM
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.pgm }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      DH
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.dh }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      Band
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.band }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      SME Score
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.score }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="row-key-style">
      Type
    </ion-col>
    <ion-col size="6" class="row-value-style">
      {{ moreDetailsData.type }}
    </ion-col>
  </ion-row>
</ion-content>