.background{
    --background: linear-gradient(to top left, #99d6ff, #b3e0ff, #ccebff, white);
}

.page-header-style{
    background: #444;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.row-style{
    justify-content: center; 
    color: white;
    font-size: 14px;
}